access @ file:///home/conda/feedstock_root/build_artifacts/access_1659357695203/work
affine @ file:///home/conda/feedstock_root/build_artifacts/affine_1674245120525/work
aiohttp @ file:///D:/bld/aiohttp_1676292870197/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1667935791922/work
alembic @ file:///home/conda/feedstock_root/build_artifacts/alembic_1682369417950/work
altair==4.2.2
amply @ file:///home/conda/feedstock_root/build_artifacts/amply_1650975715775/work
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1670263926556/work
async-timeout @ file:///home/conda/feedstock_root/build_artifacts/async-timeout_1640026696943/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1671632566681/work
aws-requests-auth==0.4.2
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
bcrypt @ file:///D:/bld/bcrypt_1666831293551/work
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1680888073205/work
blinker @ file:///home/conda/feedstock_root/build_artifacts/blinker_1681349778161/work
bokeh==3.1.0
boltons @ file:///home/conda/feedstock_root/build_artifacts/boltons_1677499911949/work
boto3 @ file:///home/conda/feedstock_root/build_artifacts/boto3_1681553064601/work
botocore @ file:///home/conda/feedstock_root/build_artifacts/botocore_1681805999582/work
bqplot==0.12.39
branca @ file:///home/conda/feedstock_root/build_artifacts/branca_1667848736831/work
brotlipy @ file:///D:/bld/brotlipy_1666764804378/work
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1674482203741/work
certifi @ file:///C:/b/abs_85o_6fm0se/croot/certifi_1671487778835/work/certifi
cffi @ file:///D:/bld/cffi_1671179506518/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1661170624537/work
click @ file:///D:/bld/click_1666798499870/work
click-plugins==1.1.1
cligj @ file:///home/conda/feedstock_root/build_artifacts/cligj_1633637764473/work
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1674202310934/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
colour==0.1.5
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1679481329611/work
conda==23.3.1
conda-package-handling @ file:///home/conda/feedstock_root/build_artifacts/conda-package-handling_1669907009957/work
conda_package_streaming @ file:///home/conda/feedstock_root/build_artifacts/conda-package-streaming_1669733752472/work
configparser @ file:///home/conda/feedstock_root/build_artifacts/configparser_1660952164778/work
contourpy @ file:///D:/bld/contourpy_1673633923174/work
cryptography @ file:///D:/bld/cryptography-split_1681508778756/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
cytoolz @ file:///D:/bld/cytoolz_1666829685081/work
dask @ file:///home/conda/feedstock_root/build_artifacts/dask-core_1681500864025/work
databricks-cli @ file:///home/conda/feedstock_root/build_artifacts/databricks-cli_1679858186387/work
debugpy @ file:///D:/bld/debugpy_1680755654494/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
Deprecated @ file:///home/conda/feedstock_root/build_artifacts/deprecated_1632758190537/work
deprecation @ file:///home/conda/feedstock_root/build_artifacts/deprecation_1589881437857/work
descartes==1.1.0
docker @ file:///home/conda/feedstock_root/build_artifacts/docker-py_1666546615660/work
docutils @ file:///D:/bld/docutils_1666755081246/work
earthengine-api @ file:///home/conda/feedstock_root/build_artifacts/earthengine-api_1681335232379/work
eerepr==0.0.4
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1643888246732/work
esda @ file:///home/conda/feedstock_root/build_artifacts/esda_1660931045600/work
et-xmlfile @ file:///home/conda/feedstock_root/build_artifacts/et_xmlfile_1674664118162/work
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1678703645500/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1667317341051/work
Fiona==1.8.22
Flask @ file:///home/conda/feedstock_root/build_artifacts/flask_1676592993069/work
folium @ file:///home/conda/feedstock_root/build_artifacts/folium_1670956290671/work
fonttools @ file:///D:/bld/fonttools_1680021368967/work
frozenlist @ file:///D:/bld/frozenlist_1667935541751/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1680980497582/work
future==0.18.3
GDAL==3.6.3
geemap==0.20.6
geocoder==1.38.1
geopandas @ file:///home/conda/feedstock_root/build_artifacts/geopandas_1670698600430/work
giddy @ file:///home/conda/feedstock_root/build_artifacts/giddy_1677871946892/work
gitdb @ file:///home/conda/feedstock_root/build_artifacts/gitdb_1669279893622/work
GitPython @ file:///home/conda/feedstock_root/build_artifacts/gitpython_1676637751542/work
google-api-core @ file:///home/conda/feedstock_root/build_artifacts/google-api-core-split_1670580271439/work
google-api-python-client @ file:///home/conda/feedstock_root/build_artifacts/google-api-python-client_1681231899740/work
google-auth @ file:///home/conda/feedstock_root/build_artifacts/google-auth_1681369121356/work
google-auth-httplib2 @ file:///home/conda/feedstock_root/build_artifacts/google-auth-httplib2_1654134467987/work
google-cloud-core @ file:///home/conda/feedstock_root/build_artifacts/google-cloud-core_1658759191372/work
google-cloud-storage @ file:///home/conda/feedstock_root/build_artifacts/google-cloud-storage_1680144691607/work
google-crc32c @ file:///D:/bld/google-crc32c_1666826826342/work
google-resumable-media @ file:///home/conda/feedstock_root/build_artifacts/google-resumable-media_1674204973555/work
googleapis-common-protos @ file:///home/conda/feedstock_root/build_artifacts/googleapis-common-protos-feedstock_1672913962683/work
greenlet @ file:///D:/bld/greenlet_1674937860362/work
grpcio @ file:///D:/bld/grpc-split_1677499466828/work
httplib2 @ file:///home/conda/feedstock_root/build_artifacts/httplib2_1679483503307/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1663625384323/work
imagecodecs @ file:///D:/bld/imagecodecs_1678289567884/work
imageio @ file:///home/conda/feedstock_root/build_artifacts/imageio_1679914882579/work
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1681581693083/work
importlib-resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1676919000169/work
inequality==1.0.0
iniconfig @ file:///home/conda/feedstock_root/build_artifacts/iniconfig_1673103042956/work
ipyevents==2.0.1
ipyfilechooser==0.6.0
ipykernel @ file:///D:/bld/ipykernel_1679336472934/work
ipyleaflet==0.17.2
ipython @ file:///D:/bld/ipython_1680185618122/work
ipytree==0.2.2
ipywidgets @ file:///home/conda/feedstock_root/build_artifacts/ipywidgets_1680023138361/work
itsdangerous @ file:///home/conda/feedstock_root/build_artifacts/itsdangerous_1648147185463/work
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1669134318875/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1654302431367/work
jmespath @ file:///home/conda/feedstock_root/build_artifacts/jmespath_1655568249366/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1663332044897/work
jsonlines @ file:///home/conda/feedstock_root/build_artifacts/jsonlines_1596777080833/work
jsonpatch @ file:///home/conda/feedstock_root/build_artifacts/jsonpatch_1632759296524/work
jsonpointer==2.0
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema-meta_1669810440410/work
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1681432441054/work
jupyter_core @ file:///D:/bld/jupyter_core_1678994400417/work
jupyterlab-widgets @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_widgets_1680020489668/work
kiwisolver @ file:///D:/bld/kiwisolver_1666805768319/work
lazy_loader @ file:///home/conda/feedstock_root/build_artifacts/lazy_loader_1679784563552/work
libmambapy @ file:///D:/bld/mamba-split_1680791188848/work/libmambapy
libpysal @ file:///home/conda/feedstock_root/build_artifacts/libpysal_1668782270408/work
llvmlite==0.39.1
locket @ file:///home/conda/feedstock_root/build_artifacts/locket_1650660393415/work
Mako @ file:///home/conda/feedstock_root/build_artifacts/mako_1668568582731/work
mamba @ file:///D:/bld/mamba-split_1680791188848/work/mamba
mapclassify @ file:///home/conda/feedstock_root/build_artifacts/mapclassify_1673861555770/work
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1679584000376/work
markdown-it-py==2.2.0
MarkupSafe @ file:///D:/bld/markupsafe_1674136027121/work
matplotlib @ file:///D:/bld/matplotlib-suite_1678135731316/work
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1660814786464/work
mdurl==0.1.2
menuinst @ file:///D:/bld/menuinst_1666839998718/work
mgwr @ file:///home/conda/feedstock_root/build_artifacts/mgwr_1599671096782/work
mlflow @ file:///D:/bld/mlflow-split_1681992200093/work
momepy @ file:///home/conda/feedstock_root/build_artifacts/momepy_1663708655873/work
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1678228039184/work
multidict @ file:///D:/bld/multidict_1672339572480/work
munch==2.5.0
munkres==1.1.4
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1664684991461/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1680692919326/work
numba @ file:///D:/bld/numba_1680825567486/work
numpy @ file:///D:/bld/numpy_1668919338279/work
oauthlib @ file:///home/conda/feedstock_root/build_artifacts/oauthlib_1666056362788/work
openpyxl==3.1.1
osmnx==1.3.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1681337016113/work
palettable @ file:///home/conda/feedstock_root/build_artifacts/palettable_1681737990189/work
pandas @ file:///D:/bld/pandas_1680548755325/work
paramiko @ file:///home/conda/feedstock_root/build_artifacts/paramiko_1678741293886/work
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
partd @ file:///home/conda/feedstock_root/build_artifacts/partd_1681246756246/work
patsy @ file:///home/conda/feedstock_root/build_artifacts/patsy_1665356157073/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow @ file:///D:/bld/pillow_1680694757876/work
pkgutil_resolve_name @ file:///home/conda/feedstock_root/build_artifacts/pkgutil-resolve-name_1633981968097/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1679871349196/work
plotly==5.14.1
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1667232663820/work
ply==3.11
pointpats @ file:///home/conda/feedstock_root/build_artifacts/pointpats_1678201881705/work
pooch @ file:///home/conda/feedstock_root/build_artifacts/pooch_1679580333621/work
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1674535637125/work
prometheus-flask-exporter @ file:///home/conda/feedstock_root/build_artifacts/prometheus_flask_exporter_1677706851229/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1677600924538/work
protobuf==3.20.3
psutil @ file:///D:/bld/psutil_1681775154843/work
PuLP @ file:///D:/bld/pulp_1667483218064/work
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
pyarrow==11.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycosat @ file:///D:/bld/pycosat_1666836675990/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pydeck==0.8.1b0
pygeos @ file:///D:/bld/pygeos_1679088894308/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1681142969746/work
PyJWT @ file:///home/conda/feedstock_root/build_artifacts/pyjwt_1666240235902/work
Pympler==1.0.1
PyNaCl @ file:///D:/bld/pynacl_1666862759359/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1680037383858/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1652235407899/work
pyperclip==1.8.2
pyproj @ file:///D:/bld/pyproj_1680037741648/work
PyQt5==5.15.7
PyQt5-sip @ file:///D:/bld/pyqt-split_1674666795342/work/pyqt_sip
pyrsistent @ file:///D:/bld/pyrsistent_1672681663470/work
pysal @ file:///home/conda/feedstock_root/build_artifacts/pysal_1675185989141/work
PySocks @ file:///D:/bld/pysocks_1661604991356/work
pytest==7.3.1
python-box==7.0.1
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1680088766131/work
pytz-deprecation-shim==0.1.0.post0
pyu2f @ file:///home/conda/feedstock_root/build_artifacts/pyu2f_1604248910016/work
PyWavelets @ file:///D:/bld/pywavelets_1673082559203/work
pywin32==304
PyYAML @ file:///D:/bld/pyyaml_1666772550103/work
pyzmq @ file:///D:/bld/pyzmq_1679316999325/work
quantecon @ file:///home/conda/feedstock_root/build_artifacts/quantecon_1655746571862/work
querystring-parser==1.2.4
quilt3 @ file:///home/conda/feedstock_root/build_artifacts/quilt3_1681239367539/work/api/python
rasterio==1.3.6
rasterstats==0.18.0
ratelim==0.1.6
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1680286922386/work
requests-futures @ file:///home/conda/feedstock_root/build_artifacts/requests-futures_1596777502329/work
rich==13.3.5
rioxarray==0.14.1
rsa @ file:///home/conda/feedstock_root/build_artifacts/rsa_1658328885051/work
Rtree @ file:///D:/bld/rtree_1666813330222/work
ruamel.yaml @ file:///D:/bld/ruamel.yaml_1678273308128/work
ruamel.yaml.clib @ file:///D:/bld/ruamel.yaml.clib_1670412994006/work
rvlib @ file:///D:/bld/rvlib_1671033497798/work
s3transfer @ file:///home/conda/feedstock_root/build_artifacts/s3transfer_1654039987929/work
scikit-image @ file:///D:/bld/scikit-image_1681313283062/work
scikit-learn @ file:///D:/bld/scikit-learn_1679676108524/work
scipy==1.10.1
scooby==0.7.1
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1672497695270/work
segregation @ file:///home/conda/feedstock_root/build_artifacts/segregation_1659363234895/work
shap @ file:///C:/b/abs_49lq4lp92_/croot/shap_1668715217218/work
shapely @ file:///D:/bld/shapely_1679081633462/work
simplejson @ file:///D:/bld/simplejson_1681125710821/work
sip @ file:///D:/bld/sip_1681161069371/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
slicer @ file:///home/conda/feedstock_root/build_artifacts/slicer_1608146800664/work
smmap @ file:///home/conda/feedstock_root/build_artifacts/smmap_1611376390914/work
snuggs==1.4.7
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1658207591808/work
spaghetti @ file:///home/conda/feedstock_root/build_artifacts/spaghetti_1673974750166/work
spglm @ file:///home/conda/feedstock_root/build_artifacts/spglm_1599674431915/work
spint @ file:///home/conda/feedstock_root/build_artifacts/spint_1612437640828/work
splot @ file:///home/conda/feedstock_root/build_artifacts/splot_1649898658322/work
spopt @ file:///home/conda/feedstock_root/build_artifacts/spopt_1673675643015/work
spreg @ file:///home/conda/feedstock_root/build_artifacts/spreg_1680963565981/work
spvcm==0.3.0
spyder-kernels @ file:///D:/bld/spyder-kernels_1680544940746/work
SQLAlchemy @ file:///D:/bld/sqlalchemy_1682155359752/work
sqlparse @ file:///home/conda/feedstock_root/build_artifacts/sqlparse_1681817562700/work
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1669632077133/work
statsmodels @ file:///D:/bld/statsmodels_1667586116242/work
streamlit==1.22.0
streamlit-folium==0.11.1
streamlit-shap==1.0.2
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1679342554516/work
tabulate @ file:///home/conda/feedstock_root/build_artifacts/tabulate_1665138452165/work
tenacity @ file:///home/conda/feedstock_root/build_artifacts/tenacity_1677600641219/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1643647933166/work
tifffile @ file:///home/conda/feedstock_root/build_artifacts/tifffile_1681364231336/work
tobler @ file:///home/conda/feedstock_root/build_artifacts/tobler_1645560589513/work
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1604308577558/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1644342247877/work
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1657485559105/work
tornado @ file:///D:/bld/tornado_1666788744359/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1677948868469/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1675110562325/work
traittypes==0.2.1
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1678559861143/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1680081134351/work
tzlocal==4.3
unicodedata2 @ file:///D:/bld/unicodedata2_1667239969015/work
uritemplate @ file:///home/conda/feedstock_root/build_artifacts/uritemplate_1634152692041/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1678635778344/work
validators==0.20.0
waitress @ file:///home/conda/feedstock_root/build_artifacts/waitress_1653960027524/work
watchdog==3.0.0
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1673864653149/work
websocket-client @ file:///home/conda/feedstock_root/build_artifacts/websocket-client_1675567828044/work
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1676411946679/work
widgetsnbextension @ file:///home/conda/feedstock_root/build_artifacts/widgetsnbextension_1680021576815/work
win-inet-pton @ file:///D:/bld/win_inet_pton_1667051142467/work
wrapt @ file:///D:/bld/wrapt_1677485718477/work
xarray==2023.4.0
xyzservices @ file:///home/conda/feedstock_root/build_artifacts/xyzservices_1676835466992/work
yarl @ file:///D:/bld/yarl_1672341135467/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1677313463193/work
zstandard==0.19.0
